<template>
  <v-app id="inspire">

          <router-view/>

  </v-app>
</template>

<script>
  export default {
    name: 'App',
    data: () => ({
      app:{ name:'Aplikasi Ku'},
    }),
    props: {
      source: String
    }
  }
</script>